<div class="row">
	<div class="box">
		<div class="col-lg-8 col-lg-offset-2">
      <%= image_tag 'rooms/lux.jpg', class: 'img-responsive' %>
      <p class="text-center">Modern comfortable apartment with seprated sleeping zone.</p>
      <table class="table table-hover">
        <tr>
          <td>Area</td>
          <td>45m<sup>2</sup></td>
        </tr>
        <tr>
          <td>Bed</td>
          <td>2 Single (90 х 200 sm)</td>
        </tr>
        <tr>
          <td>Equipment</td>
          <td>
            <ul>
              <li>2 LCD TV with interactive TV</li>
              <li>Fridge with drinks</li>
              <li>Safe</li>
              <li>Sauna or bath with djacusi</li>
              <li>Wi-Fi Internet</li>
              <li>Air conditioning</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>The price includes</td>
          <td>
            <ul>
              <li>Breakfast</li>
              <li>Guarded car parking</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Price</td>
          <td>2000 hrn.</td>
        </tr>
      </table>
		</div>
	</div>
</div>
