<div class="row">
	<div class="box">
		<div class="col-lg-8 col-lg-offset-2">
      <%= image_tag 'rooms/st_1_better.jpg', class: 'img-responsive' %>
      <p class="text-center">Modern comfortable apartment.</p>
      <table class="table table-hover">
        <tr>
          <td>Area</td>
          <td>18m<sup>2</sup></td>
        </tr>
        <tr>
          <td>Bed</td>
          <td>Single (120 х 200 sm)</td>
        </tr>
        <tr>
          <td>Equipment</td>
          <td>
            <ul>
              <li>TV</li>
              <li>Shower</li>
              <li>Wi-Fi Internet</li>
              <li>Air conditioning</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>The price includes</td>
          <td>
            <ul>
              <li>Breakfast</li>
              <li>Guarded car parking</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Price</td>
          <td>590 hrn.</td>
        </tr>
      </table>
		</div>
	</div>
</div>
