<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lab 2: Интегрирование и дифференцирование</title>
  <style type="text/css">
    body{margin:40px
    auto;max-width:650px;line-height:1.6;font-size:18px;color:#444;padding:0
    10px}h1,h2,h3{line-height:1.2}
  </style>
</head>
<body>
  <h1>Lab 2</h1>
  <p>f = x * arctan(x)</p>
  {% if x %}
    <p>a = {{ a }}</p>
    <p>b = {{ b }}</p>
    <p>Integral f from a to b = {{ x }}</p>
  {% else %}
    <form action="/lab2">
      <label for="a">a:</label>
      <input type="number" step=any name="a" class="" required min="-1000000" max="1000000">
      
      <label for="b">b:</label>
      <input type="number" step=any name="b" class="" required min="-1000000" max="1000000">
      <br>

      <label for="b">n:</label>
      <input type="number" name="n" class="" required min="2" max="1000">
      <br>

      <input type="submit" value="Solve">
    </form>
  {% endif %}
</body>
</html>
