<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lab 3: Дифференциальные уравнения</title>
  <style type="text/css">
    body{margin:40px
    auto;max-width:650px;line-height:1.6;font-size:18px;color:#444;padding:0
    10px}h1,h2,h3{line-height:1.2}
  </style>
</head>
<body>
  <h1>Lab 3</h1>
  <p>y' = x<sup>2</sup> + 3y<sup>2</sup></p>
  {% if ys.any() %}
    <p>y({{ x0 }}) = {{ y0[0] }}</p>
    <p>Result:</p>
    <table>
      <tr>
        <td><b>x</b></td>
        <td><b>y</b></td>
      </tr>
      {% for y in ys %}
        <tr>
          <td>{{ xs[loop.index0] }}</td>
          <td>{{ y }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <form action="/lab3">
      y(
      <input type="number" step=any name="x0" class="" required min="-1000000" max="1000000" value="0">
      )=
      <label for="y0"></label>
      <input type="number" step=any name="y0" class="" required min="-1000000" max="1000000">
      <br>

      <label for="x_start">x from:</label>
      <input type="number" step=any name="x_start" class="" required min="-1000000" max="1000000">

      <label for="x_end">x to:</label>
      <input type="number" step=any name="x_end" class="" required min="-1000000" max="1000000">
      <br>

      <input type="submit" value="Solve">
    </form>
  {% endif %}
</body>
</html>
