@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  color:#444;
  padding:0 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1,h2,h3{
  line-height:1.2;
  font-weight: 300;
}

.task-check-form, .task-delete-form {
  display: inline;
}
