<div class="row">
	<div class="box">
		<div class="col-lg-8 col-lg-offset-2">
      <hr>
      	<h2 class="intro-text text-center">Contacts</h2>
      <hr>
      <p><strong>Adress:</strong> 31 Mickewicz st., Rivne, UA</p>
      <p><strong>Phones:</strong></p>

      <ul>
        <li>+38(067)334-88-09</li>
        <li>+38(0362)63-63-02</li>
        <li>+38(0362)63-63-04</li>
      </ul>
      <p><strong>Email:</strong> hotel-mirrovno@ukr.net</p>
      <p><strong>Skype:</strong> mir.hotel</p>
		</div>
	</div>
</div>
